
.mr-3{
    //float: left;
    margin-right: 20px;
}

.boxshow {
	
	background-color: rgb(93, 220, 93);
	
}

.boxshow_checked {
	
	background-color: rgb(228, 37, 37);
	
}

button{
	border-radius: 6px;
		background-color: aquamarine;
		text-align: center;
		color: black;
		height: 15px;
        margin-left: 20px;
		padding-top: 2px;
		padding-bottom: 20px;
		padding-right: 15px;
		padding-left: 15px;
}